/* All CSS goes here */

/* ============= Google Fonts PT Sans */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #516163;
}

h1,
h2,
h3 {
  color: #323b3c;
}

/* ============= Header component ============== */
header {
  background-color: #cce8e5;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
}

/* ============= AddBook component ============== */
section.add-book {
  /* 800px equivalent, 50 * 16 (1rem) = 800 */
  max-width: 50rem;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem 1.5rem;
}

button {
  /* Take values from its parent element, not browser default */
  font: inherit;
  padding: 0.5rem 2rem;
  background-color: #cce8e5;
  border: 1px solid #cce8e5;
  cursor: pointer;
}

button:hover {
  /* RGB equivalent with 70% opacity */
  background-color: rgba(204, 232, 229, 0.7);
  border: 1px solid rgba(204, 232, 229, 0.7);
}

/* ============= FormField component ============== */
div.form-field {
  margin: 1rem 0;
}

div.form-field label {
  font-weight: bold;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

div.form-field input {
  /* Take values from its parent element, not browser default */
  font: inherit;
  display: block;
  width: 100%;
  padding: 0.5rem;
}

div.form-field input:focus {
  outline: none;
  background-color: #f8f8ff;
}

/* ============= BookList component ============== */
section.books {
  /* 640px equivalent, 40 * 16 (1rem) = 600 */
  max-width: 40rem;
  margin: 2rem auto;
}

ul.book-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ============= BookItem component ============== */
li.book-item {
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
}

li.book-item p {
  font-size: 1.25rem;
}

button.delete-btn {
  /* Take values from its parent element, not browser default */
  font: inherit;
  padding: 0.5rem 2rem;
  background-color: #edefef;
  border: 1px solid #edefef;
  cursor: pointer;
}

button.delete-btn:hover {
  /* RGB equivalent with 70% opacity */
  background-color: rgba(237, 239, 239, 0.7);
  border: 1px solid rgba(237, 239, 239, 0.7);
}

p.availability-msg {
  text-align: right;
}
